@charset "UTF-8";
/* media queries */
html {
  height: 100%; }

form {
  height: 100%;
  width: 100%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  header {
    padding: 100px 0 0 !important; } }
a.modal-trigger {
  color: #facd4e; }

* {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: #2b296c;
  font-size: 1rem;
  font-family: "Arial", sans-serif; }

a {
  text-decoration: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, box-shadow 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #707070 !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1 !important;
  color: #515867; }

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1 !important;
  color: #515867; }

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1 !important;
  color: #515867; }

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1 !important;
  color: #515867; }

.nowrap {
  white-space: nowrap; }

/* Popup modale de r├®cup├®ration d'identifiants */
#modalRecupId {
  display: none;
  width: 600px; }

#modalRecupId .modal-content {
  padding: 0; }

#modalRecupId iframe {
  border: none;
  width: 100%;
  height: 280px; }

html {
  font-size: 10px; }

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  border: 1.33rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #349fd1, #3460d1); }

.small-only {
  display: block; }

.contenu {
  width: 100%;
  flex: 1 1 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative; }

.bg {
  order: 1;
  width: 100%;
  display: none; }

header, footer, main {
  width: 90%;
  margin: 0 auto; }

div.hr {
  margin: 1.33rem 0; }

#logo {
  width: 100%;
  max-width: 15.27rem;
  min-width: 100px;
  text-align: center;
  margin-bottom: 2.6rem; }
  #logo img {
    max-width: 100%;
    height: auto;
    border: 0; }

h2 {
  margin: 0;
  color: #22f3f5;
  font-family: "Pulp Display", arial, sans-serif;
  font-weight: bold;
  font-size: 5.1rem;
  letter-spacing: -0.07rem; }

h3 {
  color: #fff;
  font-family: "Pulp Display", arial, sans-serif;
  font-weight: bold;
  font-size: 5.1rem;
  letter-spacing: -0.07rem;
  margin: 0 0 2rem; }

.instructions {
  color: #fff;
  font-size: 1.47rem;
  line-height: 1.2;
  margin-bottom: 2.5rem; }

#fields {
  box-sizing: border-box;
  overflow: hidden;
  max-width: 34.8rem; }
  #fields .field {
    position: relative;
    background-color: #fff;
    margin: 0;
    height: 4.5rem;
    color: #515867;
    border-radius: 3px !important;
    box-sizing: content-box; }
    #fields .field:not(:last-child) {
      margin-bottom: 2rem; }
    #fields .field:first-of-type label {
      margin-left: 0; }
    #fields .field:first-of-type input[type=email],
    #fields .field:first-of-type input[type=text],
    #fields .field:first-of-type input[type=password] {
      margin-left: 0; }
      #fields .field:first-of-type input[type=email] + span.label,
      #fields .field:first-of-type input[type=text] + span.label,
      #fields .field:first-of-type input[type=password] + span.label {
        margin-left: 0; }
  #fields label {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    #fields label img {
      height: 20px;
      width: auto; }
  #fields input[type=email],
  #fields input[type=text],
  #fields input[type=password] {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 4.5rem;
    width: calc(100% - 50px);
    border: 0;
    color: #707070;
    background-color: transparent !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    height: 100% !important;
    font-size: 1.3rem !important;
    padding-left: 10px;
    font-family: arial, sans-serif;
    /*&.valide + span.validation {
    	&::after {
    		content: ' ';
    		display: block;
    		position: absolute;
    		top: 53%;
    		right: 15px;
    		width: 25px;
    		height: 25px;
    		-webkit-transform: translateY(-50%);
    		-ms-transform: translateY(-50%);
    		transform: translateY(-50%);
    		background: url(../../../img/login/valid.png) no-repeat;
    		background-size: contain;
    	}
    }*/
    /*&.invalide + span.validation {
    	&::after {
    		content: ' ';
    		display: block;
    		position: absolute;
    		top: 53%;
    		right: 15px;
    		width: 25px;
    		height: 25px;
    		-webkit-transform: translateY(-50%);
    		-ms-transform: translateY(-50%);
    		transform: translateY(-50%);
    		background: url(../../../img/login/invalid.png) no-repeat;
    		background-size: contain;
    	}
    }*/ }
    #fields input[type=email]:focus, #fields input[type=email].valid, #fields input[type=email].invalid,
    #fields input[type=text]:focus,
    #fields input[type=text].valid,
    #fields input[type=text].invalid,
    #fields input[type=password]:focus,
    #fields input[type=password].valid,
    #fields input[type=password].invalid {
      color: #707070;
      border: 0;
      box-shadow: none;
      outline: 0; }
    #fields input[type=email] + span.label,
    #fields input[type=text] + span.label,
    #fields input[type=password] + span.label {
      position: absolute;
      text-align: center;
      left: 4.5rem;
      margin-left: 3px;
      padding-left: 10px;
      color: #707070;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: transform 0.3s ease;
      font-size: 1.3rem !important;
      font-family: arial, sans-serif;
      z-index: 1; }
      #fields input[type=email] + span.label.active,
      #fields input[type=text] + span.label.active,
      #fields input[type=password] + span.label.active {
        -webkit-transform: translateY(calc(-50% - 8px));
        -ms-transform: translateY(calc(-50% - 8px));
        transform: translateY(calc(-50% - 8px)); }
    #fields input[type=email]:focus:not([readonly]),
    #fields input[type=text]:focus:not([readonly]),
    #fields input[type=password]:focus:not([readonly]) {
      color: #515867;
      box-shadow: none;
      border: 0; }

.button_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.67rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  margin: 3.53rem auto 0 0;
  background-color: #22f3f5;
  color: #164a77;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: bold;
  font-size: 1.34rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 17rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button_form:hover {
    background-color: #f55980;
    color: #fff; }
  .button_form .valign {
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px; }
  .button_form .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 1.4rem;
    height: 2rem;
    position: relative;
    margin-left: 2.5rem; }
    .button_form .arrow svg {
      fill: #fff;
      position: absolute;
      top: 0;
      left: 0; }

#oubli_form {
  margin: 0.67rem 0 0;
  max-width: 34.8rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 1.2rem;
  text-align: right; }
  #oubli_form a {
    text-decoration: none;
    transition: all 0.3s;
    color: #22f3f5; }
    #oubli_form a:hover {
      color: #f55980; }

/*footer {
	@if (map-has-key($bouton, 'm')) {
		margin: map-get($bouton, 'm');
	}@else{
		margin: 30px auto 0;
	}
	@if (map-has-key($footer, 'color')) {
		color:  map-get($footer, 'color');
	}
	@if (map-has-key($footer, 'ta')) {
		text-align: map-get($footer, 'ta');
	}@else{
		text-align: center;
	}

	a {
		color: unset;
		&:hover {
			color: $couleur-active;
		}
	}
}*/
@media screen and (min-width: 600px) {
  #page {
    padding: 2rem 0;
    background: url(../../../img/login/acceler_bg.png) top right, linear-gradient(to right, #2b296c, #28799e) center center;
    background-repeat: no-repeat;
    -webkit-background-size: 50% auto, cover;
    background-size: 70% auto, cover; }
    #page::after {
      content: '';
      position: absolute;
      top: -1.33rem;
      bottom: -1.33rem;
      left: -1.33rem;
      right: -1.33rem;
      background: url(../../../img/login/acceler_particles.png) top right;
      background-repeat: no-repeat;
      -webkit-background-size: auto 710px;
      background-size: auto 710px;
      z-index: 1;
      opacity: .75; }

  .small-only {
    display: none; }

  div.hr {
    margin: 30px 0; }

  .contenu {
    justify-content: center;
    height: 75%;
    flex: 0 0;
    margin: auto;
    width: 75%;
    background-image: none; }

  .bg {
    display: none; }

  header, main, footer {
    width: 75%; }

  main::after {
    content: unset; }

  #fields,
  .button_form,
  #oubli_form {
    margin-left: 0; } }
@media screen and (max-width: 959px) and (max-height: 840px) {
  .bg {
    display: none; } }
@media screen and (min-width: 960px) {
  html {
    font-size: 11px; }

  #page {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    background: url(../../../img/login/acceler_bg.png) top right, linear-gradient(to right, #2b296c, #28799e) center center;
    background-repeat: no-repeat;
    -webkit-background-size: 50% auto, cover;
    background-size: 70% auto, cover;
    border-width: 15px; }

  .contenu {
    width: 65%;
    flex: 1 1 65%;
    height: initial;
    margin: initial;
    padding: 2rem 0;
    position: relative; }
    .contenu::before {
      content: '';
      background: url(../../../img/login/perso_1.png) no-repeat;
      position: absolute;
      bottom: 15%;
      right: 0;
      background-size: contain;
      width: 550px;
      height: 510px;
      z-index: 1;
      transform: translateX(100%);
      display: none; }
    .contenu::after {
      content: '';
      background: url(../../../img/login/perso_2.png) no-repeat top left;
      -webkit-background-size: contain;
      background-size: contain;
      position: absolute;
      width: 433px;
      height: 253px;
      top: 0;
      right: -25px;
      transform: translateX(50%); }

  .bg {
    background-size: cover;
    order: 1;
    display: block;
    width: 35%;
    flex: 1 1 35%;
    height: initial; }
    .bg::after {
      content: '';
      background: url(../../../img/login/perso_3.png) no-repeat top right;
      -webkit-background-size: contain;
      background-size: contain;
      position: absolute;
      width: 198px;
      height: 198px;
      bottom: 9%;
      right: 7rem; } }
@media screen and (min-width: 960px) and (max-height: 800px) {
  html {
    font-size: 10px; }

  h3 {
    font-size: 4.1rem; }

  .contenu::before {
    content: '';
    background: url(../../../img/login/perso_1.png) no-repeat;
    position: absolute;
    bottom: 15%;
    right: 0;
    background-size: contain;
    width: 400px;
    height: 400px;
    z-index: 1;
    transform: translateX(100%);
    display: none; }
  .contenu::after {
    content: '';
    background: url(../../../img/login/perso_2.png) no-repeat top left;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    width: 400px;
    height: 170px;
    top: 0;
    right: -25px;
    transform: translateX(50%); }

  .bg::after {
    width: 140px;
    height: 140px; } }
@media screen and (min-width: 1200px) {
  html {
    font-size: 11px; }

  #page {
    background: url(../../../img/login/acceler_bg.png) top right, linear-gradient(to right, #2b296c, #28799e) center center;
    -webkit-background-size: 70% auto, cover;
    background-size: 70% auto, cover;
    background-repeat: no-repeat;
    border-width: 20px; }
    #page::before {
      content: '';
      position: absolute;
      top: -20px;
      bottom: -20px;
      left: -20px;
      right: -20px;
      background: url(../../../img/login/acceler_perso_1.png) bottom right;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      z-index: 2; }
    #page::after {
      content: '';
      position: absolute;
      top: -20px;
      bottom: -20px;
      left: -20px;
      right: -20px;
      background: url(../../../img/login/acceler_particles.png) top right;
      background-repeat: no-repeat;
      -webkit-background-size: auto 710px;
      background-size: auto 710px;
      z-index: 1;
      opacity: .75; }

  .contenu {
    width: 47.1%;
    flex: 1 1 47.1%;
    z-index: 5; }

  .bg {
    width: 52.9%;
    flex: 1 1 52.9%; }

  header, main, footer {
    width: 80%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto; }

  header .hr {
    margin: 2rem 0 2.87rem; }

  #fields .field {
    height: 5.13rem; }
  #fields label {
    width: 5.13rem; }
    #fields label img {
      height: 28px; }
  #fields input[type=email],
  #fields input[type=text],
  #fields input[type=password] {
    left: 5.13rem;
    width: calc(100% - 6.67rem);
    height: 75px; }
    #fields input[type=email] + span.label,
    #fields input[type=text] + span.label,
    #fields input[type=password] + span.label {
      left: 5.13rem; }

  footer {
    margin-top: 70px; } }
@media screen and (min-width: 1600px) {
  html {
    font-size: 13px; }

  header, main, footer {
    width: 90%;
    max-width: 620px; }

  #page {
    -webkit-background-size: 1285px auto, cover;
    background-size: 1285px auto, cover; }

  .contenu::before {
    right: 15%;
    display: block; }

  .instructions {
    max-width: 34.8rem; } }
@media screen and (min-width: 1200px) and (max-height: 850px) {
  html {
    font-size: 11px; }

  header, main, footer {
    width: 75%; } }
@media screen and (max-height: 670px) {
  #logo {
    margin-top: 0; }

  .contenu::before, .contenu::after {
    content: none; } }
@media all and (-ms-high-contrast: none) and (max-width: 961px), (-ms-high-contrast: active) and (max-width: 961px) {
  #page {
    background: #2b296c;
    display: block; } }
@media all and (-ms-high-contrast: none) and (min-width: 960px), (-ms-high-contrast: active) and (min-width: 960px) {
  #page {
    min-height: 100vh; }

  .contenu,
  .bg {
    min-height: 100vh; } }

/*# sourceMappingURL=login.css.map */
