<app-email-create class="create">
</app-email-create>

<div class="collection" fxLayout="column ">

    <a *ngFor="let email of emails;let i=index" class="collection-item" [routerLink]="email.id" routerLinkActive="bg" #rla="routerLinkActive">

        <mat-card fxLayout="column ">
            <mat-card-header fxLayout="row ">
                <div mat-card-avatar class="example-header-image">
                    <mat-icon *ngIf="rla.isActive">send</mat-icon>
                </div>

                <mat-card-title>{{email.from}}</mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <p>
                    {{email.subject}}
                </p>
            </mat-card-content>
        </mat-card>
    </a>




</div>