.bg>mat-card {
    background: rgba(0, 0, 0, 0.05)
}

.create {
    padding: 0 16px;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #26a69a;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}