body {
    background: #bbbbbb;
    height: 100%;
}
#displayable_content {
    padding:0;
}
.grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.grid * {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}
.grid-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-family: 'Teko', sans-serif;
    font-size: 3.5vw;
    width: 33.3333%;
    height: 50%;
    min-height: 200px;
    color: #fff;
    text-align: center;
    margin: 0;
    box-shadow: none;
}
.grid-item > span {
    line-height: 1;
    transition: all .2s;
}
a.grid-item:hover > span {
    transform: scale(1.2);
    text-shadow: 0 8px 16px #333333;
}
.grid-item:nth-child(1) { background: #0b736d; }
.grid-item:nth-child(2) { background: #00a4c9; }
.grid-item:nth-child(3) { background: #f3782b; }
.grid-item:nth-child(4) { background: #ffde51; }
.grid-item:nth-child(5) { background: #ea9cc3; }
.grid-item:nth-child(6) { background: #006594; }

@media (max-width: 940px) {
    .grid-item {
        width: 50%;
        font-size: 5vw;
    }
}
@media (max-width: 600px) {
    .grid-item {
        width: 100%;
        font-size: 7vw;
    }
}