<label *ngIf="label" [for]="id">{{label}}</label>
<input 
[placeholder]="placeholder" 
[id]="id" 
[value]="value" 
[required]="checkRequired()" 
[type]="field ? field.inputType : 'text'" 
[formControl]="control" 
[ngClass]="{'invalid':control.invalid && control.touched && control.dirty}"

>

<ng-container *ngIf="field">
    <ng-container *ngFor="let validation of field.validations">
        <mat-hint *ngIf="control.hasError(validation.name) && control.touched && control.dirty" align="end">{{validation.message}}</mat-hint>
    </ng-container>
</ng-container>